.blink_active, .blink_inactive {
    animation: blinker 1.5s linear infinite;
    width: 10px;
    height: 10px;
    display: inline-block;
    border: 1px solid green;
    background-color: green;
    border-radius: 100%;
}

.blink_inactive {
    background-color: red;
    border: 1px solid red;
}

@keyframes blinker {
    50% {
        opacity: 0.4;
    }
}

.mat-card, mat-card {
    width: 80% !important;
    text-align: center;
    margin: 10px auto 0;
}

.form-field {
    margin-bottom: 2vh;
    display: grid;
}

.form-field label {
    width: 50%;
    padding: 1vh;
    font-size: 120%;
    margin: 0 auto;
    text-align: left;
    font-weight: bold;
}


.form-field input, .form-field textarea, ::ng-deep .p-calendar, ::ng-deep .p-dropdown{
    width: 50%;
    margin: 0 auto;
}



.form-actions {
    margin-top: 20px;
}

.mat-card-header, mat-card-header {
    margin: 0 auto 3vh;
    font-size: 150% !important;
}
.conferenceCard{
    margin-top: 5vh;

}

.conferenceCard, .updateCard{
    padding: 5vh;
    box-shadow: rgba(29, 36, 43, 0.35) 0 0 5px;
}

.updateCard{
    margin-top: 3vh;
    margin-bottom: 5vh;
}

.conferenceContent p{
    font-size: 120%;
}

.conferenceHeader h1{
font-size: 150%;
    font-weight: bold;
    margin-bottom: 2vh;
}

.locationCard{
    margin-top: 5vh;
    box-shadow: rgba(29, 36, 43, 0.35) 0 0 5px;
}