#imageUpload {
    display: none;
    cursor: pointer;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #e9531d;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e9531d;
    color: white;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
}