
.mat-card, mat-card {
    width: 80% !important;
    text-align: center;
    margin: 10px auto 0;
}

.form-field {
    margin-bottom: 2vh;
    display: grid;
}

.form-field label {
    width: 50%;
    padding: 1vh;
    font-size: 120%;
    margin: 0 auto;
    text-align: left;
    font-weight: bold;
}


.form-field input, .form-field textarea, ::ng-deep .p-inputnumber{
    width: 50%;
    margin: 0 auto;
}



.form-actions {
    margin-top: 20px;
}

.mat-card-header, mat-card-header {
    margin: 0 auto 3vh;
    font-size: 150% !important;
}
